<!-- INICIA MENÚ RESPONSIVO -->
<header class="respHeader">
    <div class="menu_bar">
        <img src="../../../assets/logo_madhos_header_1.png"
            style="width:200px; height:auto; position: absolute; top: 5px; left: 5px;" />
        <!-- <a class="bt-menu" href="#"><i class="fas fa-bars"></i>
    </a> -->
        <a id="theToggleButt" class="bt-menu" href="javascript:;">
            <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    </div>

    <nav id="responsiveNav" class="responsiveNav">
        <a href="./"><img class="img_nav_desktop" src="../../../assets/logo_madhos_header_1.png" /></a>
        <ul>
            <li><a href="./#nosotros_section">Nosotros</a></li>
            <li><a href="./#contact_section">Contacto</a></li>
            <li><a class="btn button_menu" routerLink="/login">Acceder</a></li>
        </ul>
    </nav>
</header>
<!-- FINALIZA MENÚ RESPONSIVO -->

    <!-- INICIA MODAL SITIO EN CONSTRUCCIÓN -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bienvenido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Este módulo se encuentra actualmente en construcción
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- FINALIZA MODAL SITIO EN CONSTRUCCIÓN -->